/* .cont {
    position: fixed;
    width: 100%;
    
    left: 50%;
    backdrop-filter: blur(2px);
    bottom: 0;
    color: #fff;
    font-weight: 500;
} */

.cont {
    position: relative;
    width: 100%;

    top: 120%;
    bottom: 0;
    padding-bottom: 5px;
}

.cont a {
    text-decoration: none;
    color: black;
    /* left: 50%; */

}


@media (max-width: 700px) {
    .cont {
        position: absolute;
    }
}